[Desktop Entry]
Version=0.1.4
Name=BudgetMate
Comment=Friendly helper to read your Bible
Exec=BibleMate
Icon=${SNAP}/meta/gui/biblemate.png
Terminal=false
Type=Application
Categories=Education;
