[Desktop Entry]
Version=0.1.4
Name=Biblemate
Comment=Friendly helper to read your Bible
Exec=biblemate
Icon=${SNAP}/meta/gui/biblemate.png
Terminal=false
Type=Application
Categories=Education;
